.box{

    width: 300px;
    height: 300px;

}

.first-box{

    background-color: red;
    position: relative;
    left: 100px;
    top: 100px;
    z-index: 2;
}

.second-box{

    background-color: rgb(48, 21, 167);
    position: relative;
    z-index: 3;
    
}

.third-box{

    background-color: rgb(185, 240, 36);
        
}   