@import url('https://fonts.googleapis.com/css2? family = Roboto: wght @ 500 & family = Ubuntu: wght @ 500 & display = swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-areas:
    'header header'
    'aside main';

}

body header{

    border: 5px solid rgba(255, 94, 0, 0.938);
    background-color: white;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header img{

        height:150px;

}

h1{

    font-family: 'Roboto', sans-serif;
    color: rgb(53, 52, 52);

}

body aside{

    background-color: rgba(255, 94, 0, 0.938);
    grid-area: aside;

}

body main{

    background-color: white;
    grid-area: main;
    

}


nav{

    padding: 5px;

}

fieldset div{

    display: flex;
    flex-direction: column;

}
nav h2{

    font-family: 'Ubuntu', sans-serif;
    color: rgb(53, 52, 52);

}

div{

    padding: 5px;

}
div label{

    font-family: 'Ubuntu', sans-serif;
    color: rgb(53, 52, 52);


}

.cadastro{

    width:90%;

}

.birth{

    width: 90%;
    color: grey;
    font-family: 'Ubuntu', sans-serif;

}

textarea{

    width: 90%;
    height: 80px;

}

select{

    width: 90%;

}

fieldset legend{

    font-family: 'Roboto', sans-serif;
    color: rgb(53, 52, 52);

}

.idade{

    display: flex;
    flex-direction: row;
    
}

.intro{


    text-align: justify;
    color: rgb(53, 52, 52);
    width: 100%;
    height: 200PX;

}

.intro h2{

    font-family: 'Roboto', sans-serif;

}

.intro p{

    font-family: 'Ubuntu', sans-serif;

}

main section{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: center;


}

main div{

    height:350px;
    width: 250px;

}

section img{

    width: 250px;
    height: 300px;

}

div h3{

    font-family: 'Roboto', sans-serif;
    color: rgb(53, 52, 52);

}

.indice{

    font-family: 'Ubuntu', sans-serif;
    color: rgb(53, 52, 52);

}

button{

    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    background-color: rgb(53, 52, 52);
    color: white;
    width: 110px;

}

button:hover{

    transform: scale(1.1);
    
    

}

input:hover{

    transform: scale(1.1);
   

}

textarea:hover{

    transform: scale(1.1);

}

select:hover{

    transform: scale(1.1);

}